# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

conf/*
!conf/core.ini


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Visual Studio Code
.vscode/*
.history/*

# System files
.DS_Store
Thumbs.db